.icone {
    color: var(--camaraCinza300);
}

.input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.6rem;
  width: 100%;
  padding: 1rem;
  border: 0.2rem solid var(--camaraCinza100);
  border-radius: 0.9rem;
  font-size: 1.6rem;
}

.input input {
    width: 100%;
    border: none;
    outline: none;
    color: var(--camaraCinzaTexto);
}

.input input::placeholder {
    color: var(--camaraCinza300);
}