.register {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.multiStepForm {
  /* border: 1px solid red; */
  padding: 0 2rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  margin-top: 3rem;
}

@media screen and (min-width: 768px) {
  .buttons {
    gap: 14rem;
  }
}

@media screen and (min-width: 1024px) {
  .buttons {
    gap: 18rem;
  }
}
