.icone {
  color: var(--camaraCinza300);
}

.smallerInput {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  max-width: 58%;
  padding: 1rem;
  border: 0.2rem solid var(--camaraCinza100);
  border-radius: 0.9rem;
  font-size: 2rem;
}

.smallerInput input {
  width: 100%;
  border: none;
  outline: none;
  color: var(--camaraCinzaTexto);
}

.smallerInput input::placeholder {
  color: var(--camaraCinza300);
}
