/* Container */
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: var(--camaraAzul);
  padding: 2rem;
}

/* User Summary */
.userSummary {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-area: "summary";
}

.summaryTitle {
  color: var(--branco);
  font-size: 2rem;
}

.summaryCard {
  display: flex;
  background: var(--branco);
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
  font-size: 1.6rem;
}

.summaryInfos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.fullName {
  text-align: center;
  font-size: 1.9rem;
}

/* Documents */
.documents {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-area: "documents";
}

.documentsTitle {
  color: var(--branco);
  font-size: 2rem;
}

.documentsCard {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--branco);
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
  font-size: 1.5rem;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.option {
  display: flex;
  justify-content: start;
  gap: 1.5rem;
  padding: 0.8rem;
  border: none;
  border-radius: 0.8rem;
  background: var(--camaraCinza100);
  transition: all 0.2s ease;
  font-size: 1.6rem;
}

.option:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
}

/* Additional Options */
.additionalOptions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-area: "additionalOptions";
}

.additionalTitle {
  color: var(--branco);
  font-size: 2rem;
}

.additionalSelections {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.leftSelections {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.rightSelections {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.selection {
  display: flex;
  justify-content: start;
  gap: 1rem;
  padding: 0.8rem;
  border: none;
  border-radius: 0.8rem;
  width: 100%;
  transition: all 0.2s ease;
  font-size: 1.6rem;
}

.selection:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
}

/* Estilos para Tablets */
@media screen and (min-width: 900px) {
  .container {
    display: grid;
    grid-template-areas:
      "summary documents"
      "additionalOptions additionalOptions";
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  }

  .userSummary,
  .documents {
    flex-direction: column;
    gap: 0.5rem;
  }

  .additionalOptions {
    grid-area: additionalOptions;
  }

  .additionalSelections {
    flex-direction: row;
  }
}

@media screen and (min-width: 1870px) {
  .container {
    height: 103vh;
  }

  .summaryTitle,
  .documentsTitle,
  .additionalTitle {
    font-size: 2.5rem;
  }

  .summaryCard {
    font-size: 2rem;
  }

  .fullName {
    font-size: 2.3rem;
  }

  .option,
  .selection {
    font-size: 2.1rem;
  }
}
